<div class="full-screen setting-container">
    <div class="back-btn floating-btn" (click)="goBack()">
        <i nz-icon nzType="left"></i>
    </div>
    <div class="content">
        <div class="body">
            <img class="avatar" src="./assets/image/default-avatar.png">
            <nz-divider [nzText]="'user name'"></nz-divider>
            <input nz-input 
                #usernameInput  
                [nzSize]="'large'" 
                placeholder="user name" 
                (keyup.enter)="validateUsername(usernameInput.value)"
                (blur)="validateUsername(usernameInput.value)">
        </div>
    </div>
</div>